table, tr, td, th, caption {
    border: 1px solid black;
}

td:nth-child(3n+1) {
    font-weight: bold;
}

aside {
    font-style: italic;
}

a:hover, a:focus {
    color: palevioletred;
}

input:focus, textarea:focus, button:focus, select:focus {
    outline: 2px solid palevioletred;
}

button:hover {
    background-color: lightpink;
}

nav {
    position: sticky;
    top: 0;
    background-color: lightpink;
}

form > p label {
    display: block;
    margin: .25rem;
}