table, tr, td, th, caption {
    border: 1px solid black;
}

td:nth-child(3n+1) {
    font-weight: bold;
}

aside {
    font-style: italic;
}

a:hover, a:focus {
    color: palevioletred;
}

input:focus, textarea:focus {
    outline: 2px solid palevioletred;
}